{% raw %}
<script type="text/x-undescore-template" id="template-contents-site_top">
  <div id="who-liked-form">
    <input type="text" id="who-liked"><span class="likes">likes ...</span>
  </div>

  <ul id="top-photo-list" class="photo-list"></ul>
</script>


<script type="text/x-undescore-template" id="template-contents-who">
  <div id="who-liked-form">
    <input type="text" id="who-liked"><span class="likes">likes ...</span>
  </div>

  <div id="who-similar-to-you">
    <h1>similar</h1>
    <ul class="users"></ul>
  </div>

  <ul id="top-photo-list" class="photo-list"></ul>
</script>



<script type="text/x-undescore-template" id="template-photo">
  <% var photo = get_thumbnail(250); %>
  <img class="primary" src="<%-photo.url %>" width="<%-photo.width %>" height="<%-photo.height %>" />

  <ul class="like-users">
<% var likes = get('likes'); for(var idx = 0;idx < likes.length;++idx) { var username = likes[idx]; %>
    <li><a href="/who/<%-username %>"><%-username %></a></li>
<% } %>
  </ul>
</script>
{% endraw %}